.about-container{
    /* font-family: "Open Sans", Helvetica Neue, Sans-serif; */
    height: 100%;
   /*  width: 100%; */
    position: absolute;
    top: 100px;
    left: 10%;
    right: 10%;
}

.sub{
    color: #454545;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 28px;
  /*   border-bottom: solid 2px #43BBEF;  */
}


.text-center{
    text-align: center;
}

.separator {
    width: 10px;
    height: 10px;
    margin: 20px auto;
    background: #43BBEF;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.separator:after {
    position: absolute;
    left: 5%;
    bottom: 4px;
    height: 2px;
    width: 80px;
    background: #eee;
    content: "";
    display: inline-block;
    margin-left: 20px;
}

.separator:before {
    position: absolute;
    right: 5%;
    bottom: 4px;
    height: 2px;
    width: 80px;
    background: #eee;
    content: "";
    display: inline-block;
    margin-right: 20px;
}

/deep/ .mat-tab-label{
    margin-right: 5px !important;
    font-size: 16px !important;
  /*   background-color: #DDDDDD; */
    
}

/deep/ .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #43BBEF;
}

/deep/ .mat-expansion-panel-header {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}

/deep/ .mat-expansion-panel-header-title {
    color: #4156C5;
}

/* .title{
    color: #3498db;
    padding-left: 3%;
    padding-top: 15px;
    padding-bottom: 5px;
 
    font-size: 36px;
    border-bottom: solid 2px #eaeaea; 
} */
.subtitle{
    /* padding-left: 3%; */
    text-align: center;
    color: #707070;
    font-size: 14px;
   /*  padding-top: 10px; */
    padding-bottom: 10px;
}

mat-card{
    left:3%;
    width: 88%;
   /*  border: solid 1px #e6eeff; */
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
    font-size: 18px;
}

.privacy{
    color:  #2929a3;
    height: 10px;
    background-color:  #e0e0eb;
}

.subcard{
    margin-top: 12px;
    text-align: left;
    background-color: #F3F3F7;
    color: #3d3d5c;
    padding-top: 5px;
    margin-bottom: 10px;
}

p{
    font-size: 14px;
    color: #707070;
    line-height: 1.8468;
}
.content{
    font-size: 15px;
    color: #707070;
    line-height: 1.8468;
    /* text-align: center; */
}
