<navBar></navBar>

<br/>
<br/>

<br/>
<br/>
<p style="font-weight:bold;">1. Simple</p>
<ul>
    <li>
        Send your data, receive back some useful information.
    </li>
    <li>
        Standard GET or POST requests with your data and your API key, returning Json objects - that's it!
    </li>
</ul>

<p style="font-weight:bold;">2. Fast</p>
<ul>
    <li>
        We love speed: our code is optimized to take advantage of multicore servers.
    </li>
    <li>
        You can Gzip your data to reduce bandwith and shorten even more the request time - just add a header "Content-Encoding: gzip" to your requests.
    </li>
</ul>

<p style="font-weight:bold;">3. Transparent</p>
<ul>
    <li>
        Clean API doc provided for php, java, ruby, and node.js.
    </li>
    <li>
        The scientific research behind each service is made available openly.
    </li>
</ul>