<navBar></navBar>
<div class="about-container">
        <!-- <mat-card class="privacy"><mat-card-title>1. Simple</mat-card-title></mat-card> -->
        <p class="sub">1.Simple</p>
        <mat-card class="subcard">
                <mat-card-content>
                    <ul>
                        <li>
                            Send your data, receive back some useful information.
                        </li>
                        <li>
                            Standard GET or POST requests with your data and your API key, returning Json objects - that's it!
                        </li>
                    </ul>           
                </mat-card-content>
        </mat-card>

        <p class="sub">2.Fast</p>
        <mat-card class="subcard">
                <mat-card-content>
                    <ul>
                        <li>
                            We love speed: our code is optimized to take advantage of multicore servers.
                        </li>
                        <li>
                            You can Gzip your data to reduce bandwith and shorten even more the request time - just add a header "Content-Encoding: gzip" to your requests.
                        </li>
                    </ul>         
                </mat-card-content>
        </mat-card>
        
        <p class="sub">3. Transparent</p>
        <mat-card class="subcard">
                <mat-card-content>
                    <ul>
                        <li>
                            Clean API doc provided for php, java, ruby, and node.js.
                        </li>
                        <li>
                            The scientific research behind each service is made available openly.
                        </li>
                    </ul>
                </mat-card-content>
        </mat-card>
</div>




