<navBar></navBar>
<div class="text">
    <h1>Explore Your Data</h1>
    <h2>APIs for data enrichment. simple, fast, transparent</h2>
</div>

<br/>
<br/>
<p style="font-weight:bold;">1. Sentiment analysis for tweets</p>
<ul>
    <li>
        test page<span id="blink">_</span>&nbsp;&nbsp;&nbsp;&nbsp; go <!-- <a href="umigon-admin/test-page.xhtml" style="text-decoration: none;"></a>  -->
    </li>
    <li>
        documentation &nbsp;&nbsp;&nbsp;&nbsp;> go<!-- <a href="http://docs.umigon.apiary.io/#" style="text-decoration: none;">> go</a>  -->
    </li>
    <li>
        pricing / get an api key &nbsp;&nbsp;&nbsp;&nbsp;> go<!-- <a href="umigon-admin/checkout.xhtml" style="text-decoration: none;">> go</a>  -->
    </li>
    <li>
        based on this research &nbsp;&nbsp;&nbsp;&nbsp;> go<!-- <a href="https://www.cs.york.ac.uk/semeval-2013/accepted/27_Paper.pdf" style="text-decoration: none;">> go</a>  -->
    </li>
</ul>

