<subNav></subNav>
<div class="about-container">
    <div class="text-center">
        <div class="sub">Sentiment analysis for tweets </div>
        <div class="separator"></div>
    </div>
<table >
       <!--  <caption>Sentiment analysis for tweets</caption> -->
        <thead>
          <tr>
            <th scope="col">Tweets to analyze</th>
            <th scope="col">3 million</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Price</th>
            <td>5€</td>
          </tr>
          <tr>
            <th scope="row">Estimated processing speed of the API</th>
            <td>100 tweets / second</td>
          </tr>
          <tr>
            <th scope="row">Monthly billing</th>
            <td>Not available. Coming soon</td>
          </tr>
        </tbody>
      </table>
</div>