<navBar></navBar>
<br/>
<br/>
<br/>
<br/>
<p style="font-weight:bold;">Want to share an algorithm or a service of data analysis?</p>

It is easy to add your algo to this website. The process:<br/>
<br/>
<ol id="menu">
    <li>You have a process which takes some data for input, and returns a result.</li>
    <li>We transform your code (R, Python, Matlab...) and create an API from it. You retain all rights on your code and algo.</li>
    <li>The API is published and the revenues generated are shared.</li>
</ol>        
Do you think your algo would fit? Drop an email at clementlevallois@gmail.com
 
