<subNav></subNav>
<div class="about-container">
        <img class="img" src="assets/emotion.png"/>
        <p class="sub">Want to share an algorithm or a service of data analysis?</p>
        <mat-card class="subcard">
            <mat-card-content>
                It is easy to add your algo to this website. The process:
                <ul>
                    <li>1.You have a process which takes some data for input, and returns a result.</li>
                    <li>2.We transform your code (R, Python, Matlab...) and create an API from it. You retain all rights on your code and algo.</li>
                    <li>3.The API is published and the revenues generated are shared.</li>
                </ul>   
                Do you think your algo would fit? Drop an email at clementlevallois@gmail.com
            </mat-card-content>
        </mat-card>
</div>
