.about-container{
    height: 100%;
   /*  width: 100%; */
    position: absolute;
    top: 100px;
    left: 1%;
    right: 1%;
}

.sub{
    color: #3498db;
    padding-left: 3%;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 24px;
    border-bottom: solid 2px #eaeaea; 
}

.img{
  /*   position: absolute; */
    margin-left: 5%;
    margin-top: 28px;
    width: 35%;
    height: 40%;
    opacity:0.9;
    filter:alpha(opacity=90); 
    /* float: right; */
}

.subcard{
    float: left;
    margin-top: 28px;
    text-align: left;
    background-color: #F3F3F7;
    color: #4F4F4F;
    padding-top: 5px;
    left: 2%;
    width: 45%;
    margin-bottom: 10px;
    font-size: 36px;
  /*   font-weight: bold; */
}

li{
    padding-left: 5%;
    line-height: 3.64;
}
