/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body{ 
    margin: 0px; 
    padding: 0px;
    background-color: #F3F3F7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}*
{
    margin:0;
    padding:0;
    list-style-type:none;
}